# requirements.txt
Flask
Flask-SocketIO
Flask-APScheduler
requests
selenium
webdriver-manager
gunicorn
eventlet
Flask-SQLAlchemy  # Veritabanı yönetimini kolaylaştırır
psycopg2-binary   # Python'un PostgreSQL ile konuşmasını sağlar
Werkzeug
python-telegram-bot
