# requirements.txt (Uyumlu Sürümlerle Güncellendi)
Flask
Flask-SocketIO
Flask-APScheduler
requests
selenium
webdriver-manager
gunicorn
eventlet
Flask-SQLAlchemy
psycopg2-binary
python-telegram-bot~=13.15
httpx<0.20
